/* fonts */
@font-face {
    font-family: 'martaitalic';
    src: url('../fonts/marta_italic-webfont.eot');
    src: url('../fonts/marta_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marta_italic-webfont.woff') format('woff'),
         url('../fonts/marta_italic-webfont.ttf') format('truetype'),
         url('../fonts/marta_italic-webfont.svg#martaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:hover {color:#516fbe !important;}

	h3 {
		font-size: 16px;
		padding: 0;
		margin: 0;
	}

/* helpers */
.mid {
    width:900px;
    clear: both;
    margin: 0 auto;
}


/* Header */
.main-header {
	width:100%;
	background: #bbbbbb;
	height: 160px;
}

 /* head */
	.main-header head {
		height:100px;
		display: block;
		min-height: 100px;
	}
		.block {
			float: left;
		}
		.block:last-child {
			float: right;
		}

		.header-logo {
			background: url(../images/logo.png) no-repeat;
			background-size: cover;
			display: block;
			margin-right: 10px;
			float: left;
			width: 95px;
			height: 80px;
		}

		.header-orgName {
			width: 356px;
			margin-top: 10px;
			float: left;
			display: block;
		}

			.header-orgName h1 {
				font-size: 14px;
				padding:0;
				margin: 0;
			}


		.header-search {
			position: relative;
			width:166px;
			padding-top:10px;
			float: right;
			display: block;
		}

		.header-search input[type="submit"]{
			position: absolute;
			right: -15px;
			top: 14px;
			background:none;
			border:none;
			background: url(../images/icons/search_icon.png) no-repeat center center !important;
			width: 16px;
			height: 15px;
			display: block;
		}

		.contacts {
			float: left;
			clear: right;
			margin-top: 10px;
			text-align: left;
		}

		.header-nav {
			clear:both;
			float: left;
			margin-top: 10px;
			padding-bottom: 20px;
		}

			.header-nav a {
				float: left;
				margin-right: 20px;
				text-decoration: none;
				color: #fff;
			}


/* footer */
.main-header footer {
    clear:both;
    padding-top: 5px;
    font-size: 18px;
    height: 55px;
    background: #cfcfcf;
}

.footer-nav {float: left; padding-top: 10px;}
	.footer-nav a {
		color: #fff;
		text-decoration: none;
		margin-right: 20px;
	}

	.footer-nav a:first-child {
		color:#000;
	}

/* firstBlock */
.firstBlock {
	clear: both;
	padding-top: 20px;

}

	.formBro {
		width: 180px;
		background: #bbbbbb;
		padding: 0 10px;
		padding-bottom: 10px;
		position: relative;
		float: left;
			margin-bottom: 20px;
	}

	.formBro h2 {
		font-size: 16px;
		padding: 5px 2px;
		margin: 0 -10px;
		margin-bottom: 10px;
		text-align: center;
		background: #cfcfcf;
	}

	.bro {display: none;}

/* Selects */
	.sb-select {
		padding: 8px 5px;
		width:170px;
		background: #575c6f;
		border: none;
		text-align: center;
		color: #fff;
	}

	.selectSanatorium {
		position: absolute;
		background: #bbbbbb;
		display: none;
		width: auto;
		margin: 0;
		padding: 0;
		top:0px;
		left: 210px;
	}

	.selectSanatorium ul, 
	.selectSanatorium li {
		margin: 0; 
		padding: 0; 
		width: auto !important;
		list-style: none;
	}

		.selectSanatorium ul {padding: 5px 0; min-width: 200px;}
	
	.selectSanatorium .selected {
		color:red !important;
	}

	.slidee {
		background: #575c6f;
	}

	.selectSanatorium a {
		background: rgb(207, 207, 207) !important; 
		color: #575c6f;
		text-decoration: none;
		display: block;
		width: auto;
		padding: 2px 5px;
		margin: 5px;
		margin-right: 5px;
		background: #444;
		padding-left: 30px;
	}

	.entry, .exit {
		width: 80px !important;
		margin-top:10px;
		max-width:80px;
		display:block;
		float: left;
	}
	
	.picker__input {
		width:78px !important;
		float: left;
		clear: left;
		border:none;
		z-index: 9;
	}

	.exit {float:right;}
	
	.entry input, .exit input {
	   width:100%;
	   margin-bottom: 10px;
	}

	.formBro h3 {
		padding-bottom:10px;
	}

	.addRoom {
		margin-top: 5px;
		cursor: pointer;
		z-index: 21;
	}

	.addRoom:hover {color:#fff;}

	.rooms {
		width: 100%;
		background: #cfcfcf;
	}

	.room {
		padding: 5px;
		margin-top: 10px;
		float: left;
		clear: left;
		margin-bottom: 5px;
		background: #cfcfcf;
		display: none;
	}

	.room input {
		width: 80px;
	}

	.ageInput, .childrensInput {
		float: right;
		clear: right;
		margin-bottom: 10px;
	}

	.childrensAge {
		display: none;
		margin-bottom: 10px;
	}

	.childrensAge span {margin-right: 5px;}

	.roomDel {
		clear: both;
		cursor: pointer;
		background: #575c6f;
		color: #fff;
		width: 60px;
		text-align: center;
		display: block;
		padding: 2px 5px;
		margin: 0 auto;
	}

	.searchButton {
		width: 100px;
		padding: 2px 5px;
		color: #fff;
		background: #575c6f;
		border: none;
		margin: 10px 0 0 40px;
	}


/* Variants */

	.variants {
		display: none;
		position: absolute;
		top:0px;
		padding: 10px;
		color:#575c6f;
		padding-top: 0;
		left: 220px;
		background: #575c6f;
		width: 470px;
	}


	.variants .close {
		display: block;
		width: 16px;
		height: 16px;
		color: #fff;
		background: #575c6f;
		position: absolute;
		top: 8px;
		right: 16px;
		padding: 0 4px 6px 2px;
		text-align: center;
		cursor: pointer;
	}

		.variant {
			width: 470px;
			margin-bottom: 20px;
		}

		.variant div {
			float: left;
			display: table-column;
			margin-right: 10px;
		}

		.num {width: 100px;}
		.variant-room {width: 250px;}
		.cost,.endCost, .bedCost {width: 70px; margin-right: 0; text-align: right;}
		.bedCost {padding-left: 5px;}
		.addBed {
			width: 355px;
			text-align: right;
		}
		.add {margin-left: -5px;}

		.variant .row {
			background: rgb(187, 187, 187);
			width: 460px;
			margin-bottom: 10px;
			display: table-row;
			padding: 5px;
		}

			.allCost {
				width: 365px;
				text-align: right;
			}

			.finalCost {
				clear: both;
			}

			.broBtn {
				background: rgb(207, 207, 207);
				padding: 6px 15px;
				margin: 20px 0 0 170px;
				text-decoration: none;
			}

			.broBtn:hover {
				background: #fff;
				color: #575c6f;
			}

input {
	border: none;
}

	/* reservation */

		.reservation {
			display: none;
			position: absolute;
			right: -720px;
			padding: 0 10px;
			padding-bottom: 10px;
			top:0;
			width: 170px;
			min-height: 200px;
			background: #575c6f;
		}

		.broRoom {
			margin-bottom: 10px;
		}

		.broRoom input[value="ФИО"]{
			margin-bottom: 5px;
		}

		.birthdayDate, .birthdayMonth, .birthdayYear {
			width:30px;
			max-width: 50px;
			margin-right: 5px;
			float: left;
		}

		.birthdayYear {margin-right: 0}

		.feedback {
			clear: both;
			margin-top: 10px;
		}

		.broRoom {
			background: #bbbbbb;
			width:160px;
			padding: 5px;
		}

		.broRoom input {
			width: 100%;
		}

		.cupon {
			color: #fff;
		}

		.cupon input {
			width: 100%;
		}

		.buy {
			width: 120px;
			display: block;
			padding: 2px 5px;
			margin:10px auto;
			margin-bottom: 0;
		}



/**/

	.slider {
		background: #bbbbbb;
		float: left;
		width:490px;
		display: block;
		height: 175px;
		margin-left:20px;
	}

	.slyImg {
		width: 100px;
		display: block;
		margin: 0 auto;
		margin-top: 70px;
	}

	.newsBlock {
		float: right;
		display: block;
		width: 180px;
		margin-right: -20px;
		padding: 0 5px;
		padding-bottom: 10px;
		min-height:175px;
		background: #bbbbbb;
	}

	.newsBlock h2 {
		font-size: 16px;	
		padding: 5px 10px 10px 10px;
		margin: 0 -5px;
		margin-bottom: 10px;
		text-align: center;
		background: #cfcfcf;
	}

	.newsBlock article {
		padding-left: 10px;
		margin-bottom: 10px;
	}

	.newsBlock a {
		text-decoration: none;
		color: #575c6f;
	}

	.newsBlock p {
		margin: 0;
		padding: 0;
	}


/* SecondBlock */

.secondBlock {
	clear: both;
	background: rgb(207, 207, 207);
	width: 100%;
	min-height: 200px;
	margin-top: 20px;
}

.infoBlock {
	float: left;
	width:420px;
	padding: 5px;
	margin-top: 20px;
	min-height: 100px;
	background: rgb(187, 187, 187);
}

.infoBlock:last-child {
	float: right;
	margin-right: -20px;
}

.infoBlock h2 {
	background: #575c6f;
	color: #fff;
	text-align:center;
	margin: -5px;
	padding: 0;
}

.infoBlock h3 {clear: left; padding-top: 10px;}

.infoBlock nav {
	margin-top: 5px;
}

.infoBlock nav a {
	color: #575c6f;
	text-decoration: none;
	display: block;
	width: auto;
	height: auto;
	float: left;
	margin: 5px;
	padding: 3px 6px;
	background: rgb(207, 207, 207);
}

.infoBlock li a {
	text-decoration: none;
	color: #575c6f;
}


/* footerMenu */
.footerMenu {
	padding: 10px 0;
	background: rgb(187, 187, 187);
}

.footerMenu nav {
	float: left;
	margin-right: 60px;
	margin-bottom: 10px;
}

.footerMenu nav a {
	float: left;
	clear: left;
	color: #575c6f;
	text-decoration: none;
}

.footerMenu .about {
	width: 130px;
}

.footerMenu .medecine, .footerMenu .offers {margin-right: -20px; float: right; width: 226px;}

.footerMenu .contacts {margin-right:-20px !important; float: right !important; width: 226px;}

.main-footer {
	min-height: 40px;
	padding-top: 20px;
}

.main-footer .info {
	float: left;
	clear: left;
	line-height: 10px;
}

.main-footer .info a {
	color: #575c6f;
	text-decoration: none;
}

.main-footer .stat {
	float: right;
	display: block;
	width: 300px;
	text-align: right;
}